body {
    width: 100%;
    height: auto;
    max-height: 100vh;
    max-width: 100vh;
}

.App {
    width: 100%;
    min-height: 100vh;
}

.mainPage {
    padding-top: 3rem;
    width: 90%;
    margin: 0 5%;
    height: auto;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
}

footer {
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: center;
    width: 100%;
}